.container {
    max-width: 650px;
    margin: 50px auto;
    border: 2px solid black;
    padding: 30px;
    border-radius: 10px;
    line-height: 25px;
}

h1 {
    margin-top: 0;
    font-family: 'Courier New', Courier, monospace;
}

img {
    border-radius: 20px;
    margin-bottom: 30px;
}

.ingredients {
    background-color: rgb(192,190,188);
    padding: 20px;
    border-radius: 10px;
    vertical-align: top;
    max-width: 200px;
}

.ingredients h2,
.steps h2 {
    margin-top: 0;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}

.ingredients,
.steps {
    display: inline-block;
}

.steps {
    padding: 20px;
    border-left: 1px solid black;
    max-width: 300px;
    margin-left: 20px;
}

ol {
    padding-left: 14px;
}

.back-to-home {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}